/*Colores
botones, hover: #FFooBF;
nav blanco, letras azules y fondo footer: #333447;
titulos form: #352384;
texto form: #728099;
gradiente morado: linear-gradient(#76278f, #2B1E66);*/

*{
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	padding: 0;
}

/***************************nav-bar****************************/
.barra-menu{
	background-color: rgba(0,0,0,0.0);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}
.barra-menu.flex-container{
	justify-content: flex-end;
}
.img-navbar{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-left: 90px;
	margin-top: 50px;
}
.logo-navbar{
	width: 58px;
}
.nav-colored{ 
	background-color:#000; 
}
.nav-transparent{
	background-color:transparent;
}
/*nav a*/
.nav-link{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;	
	margin-right: 20px;
}
.nav-link a{
	text-decoration: none;
	color: white;
	padding-right: 20px;
	padding-bottom: 10px;
	font-size: 16px;
}
/*botón log in*/
#log-in{
	display: inline-block;
	color: white;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-radius: 9px;
	padding: 9px;
	margin-right: 20px;
}
#sign-up{
	display: inline-block;
	color: #FF00BF;
	border-top: 2px solid  #FF00BF;
	border-bottom: 2px solid  #FF00BF;
	border-left: 2px solid #FF00BF;
	border-right: 2px solid  #FF00BF;
	border-radius: 9px;
	padding: 9px;
}
.hide{
	display: none;
}

/****************header******************/
.headr.flex.container{
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}
.vid{
	width: 100%;
	height: 100%;
}
.contenedor-telefono{
	background-color: #fff;
	position: absolute;
	top: 170px;
	right: 0px;
	height: 60%;
	width: 39%;
}
.contenedor-telefono{
	padding: 15px;
}
.contenedor-telefono h1{
	font-size: 40px;
	color: #352384;
	padding-left: 40px;
	padding-top: 30px;
}
.contenedor-telefono label{
	display: block;
	padding-left: 40px;
	padding-bottom: 25px;
	color: #352384;
	font-weight: 300;
}
.contenedor-telefono input{
	display: block;
	margin-left: 40px;
	margin-bottom: 35px;
	width: 82%;
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: 1px  solid #43007C;
	padding-bottom: 7px;
}
::-webkit-input-placeholder{/*para chrome, safari*/
	font-size: 15px;
	color: #C3C3C3;
}
#registro-button{
	margin-left: 40px;
	margin-bottom: 35px;
	padding: 15px;
	border: 1px solid #FF00BF;
	border-radius: 5px;
	background-color: #FF00BF;
	color: white;
}
.p-uno{
	margin-top: 55px;
	margin-left: 40px;
	font-size: 10px;
}
.p-dos{
	margin-left: 40px;
	margin-top: 15px;
	font-size: 10px;
}
.color-p{
	color: #FF00BF;
}
 /**THIRD SECTION = INFORMACIÓN**/
.third-section{
	background: linear-gradient(#650E82, #2E1E68);
	height: 600px;
}
.img-info{
	width: 80%;
}
.parrafos{
	color: white;
	padding-left: 120px;
}
.parrafos h3{
	padding-top: 50px;
	padding-bottom: 10px;
}
.parrafos p{
	font-weight: 300;
}
/**FOOTER**/
footer{
	background-color: #333447;
	height: 600px;
}
.seccion-uno, .seccion-dos, .seccion-tres{
	padding-top: 35px;
	color: white;
}
.seccion-uno h4, .seccion-dos h4, .seccion-tres h4{
	padding-bottom: 15px;
	color: #BFC7D9;
}
.seccion-uno h4:hover{
	color: #FF00BF;
}
.seccion-uno p, .seccion-dos p, .seccion-tres p{
	padding-bottom: 15px;
}
.aplicacion{
	display: flex;
	flex-direction: column;
	padding-top: 35px;
}
.apple, .google{
	width: 120px;
}
.micro{
	width: 100px;
}
/**REDES SOCIALES**/
.fifth-section{
	background-color: #333447;
}
.redes-sociales{
	text-align: center;
	color: white;
}
.redes-sociales a{
	font-size: 18px;
	padding:10px;
	color:white;
	border: 1.4px solid white;
	border-radius: 23px;
}
.redes-sociales a i{
	padding: 4px;
	margin-bottom: 30px;
}
.redes-sociales hr{
	width: 80%;
	margin-bottom: 30px;
}