/*Colores
botones, hover: #FFooBF;
nav blanco, letras azules y fondo footer: #333447;
titulos form: #352384;
texto form: #728099;
gradiente morado: linear-gradient(#76278f, #2B1E66);*/

body {
	margin: 0;
}
* {
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	padding: 0;
	font-size: 16px;
}

/**NAV**/
.logo-navbar {
	width: 4rem;
}
.img-navbar {
	margin: 0;
}
.vid {
	z-index: 1;
	height: 100%;
	width: 100%;
}
.cajas-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	z-index: 1000;
	margin: 2rem;
	width: 97%;
}
.nav-link {
	display: flex;
	align-items: center;
	margin: 0;
	width: 32%;
}
.nav-link a {
	color: #fff;
	text-decoration: none;
}
#log-in {
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 10px;
}
.caja-register {
	position: absolute;
    z-index: 1000;
    display: flex;
    background-color: transparent;
    height: 732px;
    width: 1302px;
    align-items: center;
    justify-content: flex-end;
	
}
.contenedor-telefono {
	background-color: white;
	margin: 0;
    height: 50%;
}
.contenedor-telefono h1, label, #registro-input, #registro-button, .p-uno, .p-dos {
	margin-left: 3.125rem;
}

/**INFORMATION**/
.parrafos {
	margin-top: 3.125rem;
	margin-left: 7.125rem;
}
.third-section {
	background: linear-gradient(#754283, #2B1E66);
}
.img-dos img {
	width: 100%;
}

/**FOURTH SECTION**/
.text-fourth {
	margin-left: 2rem;
	margin-right: 2rem;
}

ooter{
	background-color: #333447;
	height: 600px;
}
.seccion-uno, .seccion-dos, .seccion-tres{
	padding-top: 35px;
	color: white;
}
.seccion-uno h4, .seccion-dos h4, .seccion-tres h4{
	padding-bottom: 15px;
	color: #BFC7D9;
}
.seccion-uno h4:hover{
	color: #FF00BF;
}
.seccion-uno p, .seccion-dos p, .seccion-tres p{
	padding-bottom: 15px;
}
.aplicacion{
	display: flex;
	flex-direction: column;
	padding-top: 35px;
}
.apple, .google{
	width: 120px;
}
.micro{
	width: 100px;
}
/**REDES SOCIALES**/
.fifth-section, footer{
	background-color: #333447;
}
.redes-sociales{
	text-align: center;
	color: white;
}
.redes-sociales a{
	font-size: 18px;
	padding:10px;
	color:white;
	border: 1.4px solid white;
	border-radius: 23px;
}
.redes-sociales a i{
	padding: 4px;
	margin-bottom: 30px;
}
.redes-sociales hr{
	width: 80%;
	margin-bottom: 30px;
}